[buildout]
extends = http://dist.plone.org/release/4.3.15/versions.cfg
eggs = plone.api

[versions]
# --- versions we have chosen for a reason
# If a version pinning is ignored here, check floating_versions.cfg

# A simple API, built for humans wishing to develop with Plone.
plone.api = 1.8.4

# Required by:
# matem.planning==1.0a1
# matem.accounting==1.0a1
# Do not break in the case of dexterity objects with relations
plone.app.versioningbehavior = 1.2.10

# Required by:
# matem.bibtexviz
# matem.annualreport
# UNAM.imateCVct
# openpyxl = 2.0.4
# jdcal = 1.2

# lxml = 3.6.0
# i18ndude = 4.4.0
